.box {
    position: relative;
    overflow: hidden;
}
.winControl {
	position: absolute;
    right: 0;
    top: 0;
    z-index: 99999;
}
.winControl span {
    display: inline-block;
    padding: 4px 6px;
    cursor: pointer;
    line-height: 10px;
}
.winControl span:hover {
    background: #E82B45;
}
[drag] {
    -webkit-app-region: drag;
}
[noDrag] {
    -webkit-app-region: no-drag;
}
i{
    position: relative;
	/*z-index:99999;*/
	display: inline-block;
}
.icon_close-big{
    width: 18px;
    height: 18px;
	background-image: url('../images/icon/close_big.png');
}
.icon_close-small{
    width: 13px;
    height: 13px;
	background-image: url('../images/icon/close_small.png');
	display: inline-block;
}
.icon_tool-fullscreen{
    width: 18px;
    height: 18px;
	background-image: url('../images/icon/full_screen.png');
}
.icon_tool-bigger{
    width: 20px;
    height: 19px;
	background-image: url('../images/icon/bigger.png');
}
.icon_tool-smaller{
    width: 20px;
    height: 19px;
	background-image: url('../images/icon/smaller.png');
}
.icon_tool-rotate{
    width: 17px;
    height: 20px;
	background-image: url('../images/icon/rotate.png');
}
.icon_tool-download{
    width: 16px;
    height: 20px;
	background-image: url('../images/icon/download.png');
}
.icon_tool-prev{
    width: 31px;
    height: 48px;
	background-image: url('../images/icon/prev.png');
	background-size: 100%;
}
.icon_tool-next{
    width: 31px;
    height: 48px;
	background-image: url('../images/icon/next.png');
	background-size: 100%;
}
/* 效果 */
.rotate0{ 
	transform-origin:center;
	transform: rotate(0deg); 
} 
.rotate90{ 
	transform-origin:center;
	transform: rotate(90deg); 
} 
.rotate180{ 
	transform-origin:center;
	transform: rotate(180deg); 
} 
.rotate270{ 
	transform-origin:center;
	transform: rotate(270deg); 
} 

.gallery{
	width: 100%;
    height: 100%;
}
.gallery .image{
    position: absolute;
    margin:0; /*之所以不使用auto直接垂直居中，是因为当图片旋转时left值会很难计算*/
    padding:0;
    z-index: 999;
    display: none;
}
.gallery .image.active{
	display:block;
}
.gallery .tool{
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
    display: none;
    z-index: 99999;
}
.gallery .toolct{
    display: inline-block;
    height: 30px;
    background-color: #6f6965;
    padding: 5px 14px;
    box-sizing: border-box;
    border-radius: 6px;
}
.gallery .toolct span{
    margin-right: 20px;
}
.gallery .toolct i{
	display: inline-block;
	cursor: pointer;
}
.gallery .percentTip{
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100px;
    height: 30px;
    z-index: 9999;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    border-radius: 8px;
    color: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#4F504E), color-stop(0.5, #3A3731), to(rgb(31, 27, 27)));
}
.gallery .thumbnails{
	position: absolute;
    right: 1px;
    bottom: 1px;
    border: 1px solid #ffffff;
    z-index: 99999;
    border-radius: 5px;
    background-color: rgba(177, 177, 177, 0.5);
    display: none;
}
.gallery .thumbnails .thumbDrag{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border: 1px solid black;   
    box-sizing: border-box;      
}
.gallery .thumbnails .thumbDrag span{
	width:100%;
	height:100%;   
	border: 1px solid white;
	display: block;
    box-sizing: border-box;  
}
.gallery .thumbnails .thumbClose{
	position: absolute;
    right: 1px;
    top: -2px;
    cursor: pointer;
    height: 13px;
}
.gallery .thumbnails img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.gallery .oper{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 180px;
    z-index: 99999;
}
.gallery .oper i{
    display: none;
    cursor: pointer;
}
.gallery .oper span{
	width: 31px;
    height: 48px;
}
.gallery .oper .prev{
	float:left;
	margin-left: 9px;
}
.gallery .oper .next{
	float:right;
	margin-right: 9px;
}
.gallery .oper .prev.active i, .gallery .oper .next.active i{
	display: inline-block;
}
