<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="KPIDbContext" connectionString="Data Source=10.10.13.87;port=3306;Initial Catalog=kpicomplete;uid=root;password=123456;Allow User Variables=True;Charset=utf8" providerName="MySql.Data.MySqlClient" />
  <!--<add name="KPIDbContext" connectionString="Data Source=10.10.13.87;port=3306;Initial Catalog=kpicomplete;uid=root;password=123456;Allow User Variables=True;Charset=utf8" providerName="MySql.Data.MySqlClient" />-->
  <!--<add name="KPIDbContext" connectionString="Data Source=10.10.13.37;port=3306;Initial Catalog=kpicomplete;uid=chedai_test1;password=alice@cheguo360;Allow User Variables=True;Charset=utf8" providerName="MySql.Data.MySqlClient" />-->
</connectionStrings>
