<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!--启用IP过滤 -->
  <add key="IsIPFilter" value="false" />
  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.KPI.cn" />
  <!-- 软件名称 -->
  <add key="SoftName" value="KPI快速开发框架" />
  <!-- 软件版本 -->
  <add key="Version" value="1.0" />
  <!-- 软件授权码 测试备用 -->
  <add key="LicenceKey" value="90b405d2-292a-4cfb-a4c5-ac826a84a6b9" />
  <!-- ================== 3：外部邮件参数 ================== -->
  <!-- 设置邮箱名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 设置邮箱地址 -->
  <add key="MailUserName" value="sendbug@KPI.cn" />
  <!-- 设置邮箱密码 -->
  <add key="MailPassword" value="123456" />
  <!-- 设置邮箱主机 -->
  <add key="MailHost" value="smtp.ym.163.com" />
  <!--系统分公司考核管理员所属机构在表中的主键-->
  <add key="CompanyId" value="e8c731d7-2e0d-4f07-8c88-ec19448d0e1c"/>
  <!--系统分公司考核管理员所属机构在表中的主键-->
  <add key="BlocId" value="fda20966-bf37-481f-ba89-557713bf8c4b"/>
  <!--分公司考核管理员角色主键-->
  <add key="BranchAssessmentManagerRoleId" value="941baef9-4393-4d43-bf2f-994b4e91b1b3"/>
  <!--个人考核管理员角色主键-->
  <add key="PersonalAssessmentManagerRoleId" value="2c316d2f-80fa-4c34-9ec8-962f3701c2f7"/>
  <!--分公司下客户经理角色主键-->
  <add key="CustomerManagerRoleId" value="30e42475-00dc-4854-b851-4f134e00e2e6"/>
	
  <!--分公司经理室角色主键-->
  <add key="ManagerFamilyRoleId" value="e61de94b-9b70-4ef5-8a14-6175c8e2bbde"/>
	
  <!-- ================== 4：默认分公司考核人 ================== -->
  <add key="DefaultChecker1" value="41e1f418-8950-4707-9d55-b458e7fbba15"/>
  <add key="DefaultChecker2" value="2d6d658a-e015-422f-bb6c-c28979867e14"/>
  <add key="DefaultChecker3" value="950c8d1f-9a1c-40fe-b4b3-97409bed5e28"/>
  <add key="DefaultChecker4" value="6a6a45e3-060c-4aa9-9623-c809921ca232"/>
</appSettings>